/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Regular'),
    url("/fonts/OpenSans-Regular.woff"), format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-SemiBold'),
    url("/fonts/OpenSans-SemiBold.woff"), format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Bold'),
    url("/fonts/OpenSans-Bold.woff"), format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'OpenSans';
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  background-color: #FFF;
}

:root {
  --purple-accent: #9d5cd0;
  --white: #fff;
  --black: #000;
  --dark-gray: #333;
  --light-gray: #666;
  --lighter-gray: #999;
  --drak-white: #ececec;
  --darker-white: #cacaca;
  --purple-focus: #7943A4;
  --purple-border: #D1A9F0;
  --purple: #C283F3;
  --green: #30bf39;
  --blue: #26A5E4;
  --gap-50: 50px;
  --gap-20: 20px;
  --gap-27: 27px;
  --gap-30: 30px;
}

.hidden {
  position: absolute;
  /* margin: -1px; */
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn {
  text-align: center;
  padding: 24px 35px;
  font-weight: 700;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 100px;
  background-color: var(--purple-accent);
  color: var(--white);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn:focus {
  outline: 2px solid var(--purple);
  outline-offset: 5px;
}

.btn:hover {
  border: 3px solid var(--purple-border);
  background-color: var(--purple-accent);
}

.btn:active {
  border: 3px solid var(--purple-border);
  background-color: var(--purple-focus);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1630px;
}

.section-title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 48px;
  color: var(--dark-gray);
}

.section-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--dark-gray);
}

.sub-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  color: var(--dark-gray);
}


/* header */

.header {
  padding: 30px 60px;
  background-color: var(--black);
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 278px;
}

.nav__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 87px;
}

.nav__link {
  padding: 6px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: var(--white);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav__link:focus {
  background-color: var(--purple-accent);
}

.nav__link:hover {
  color: var(--purple);
}

.nav__link:active {
  color: var(--purple-focus);
}

.header__btn {
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__btn svg {
  fill: var(--white);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__btn:focus {
  background-color: var(--purple-focus);
}

.header__btn:hover svg {
  fill: var(--purple);
}

.header__btn:active svg {
  fill: var(--purple-accent);
}

/* hero */

.hero {
  margin-bottom: 85px;
  background-image: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  padding: 146px 0px;
    -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 34%;
}

.hero__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 72px;
  line-height: 94%;
  color: var(--white);
}

.hero__descr {
  margin: 0;
  margin-bottom: 93px;
  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  color: var(--white);
}

/* about */

.about {
  margin-bottom: 70px;
}

.about__descr {
  max-width: 63%;
  min-height: 214px;
  letter-spacing: -.4px;
}

/* gallery */

.gallery {
  margin-bottom: 88px;
  padding: 86px 145px 77px 145px;
  background-image: url('../img/gallery-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__title {
  margin-bottom: 24px;
  color: var(--white);
}

.gallery__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__radio-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.option {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--white)
}

.radio-label {
  padding-left: 24px;
}

.gallery__radio-inp {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.gallery__radio-box {
  position: absolute;
  margin-top: 0.6em;
  margin-left: -24px;
  width: 12px;
  height: 12px;
  -webkit-box-shadow: 0 0 0 0.1em var(--white);
          box-shadow: 0 0 0 0.1em var(--white);
}

.gallery__radio-inp:checked+.gallery__radio-box {
  -webkit-box-shadow: 0 0 0 0.1em var(--purple);
          box-shadow: 0 0 0 0.1em var(--purple);
  background-image: url('../img/radio.svg');
  background-repeat: no-repeat;
  background-size: 41%;
  background-position: center;
}

.gallery__radio-inp:focus+.gallery__radio-box {
  -webkit-box-shadow: 0 0 0 0.1em var(--purple);
          box-shadow: 0 0 0 0.1em var(--purple);
  color: var(--purple);
}

.gallery__radio-inp:hover+.gallery__radio-box {
  -webkit-box-shadow: 0 0 0 0.1em var(--purple);
          box-shadow: 0 0 0 0.1em var(--purple);
}

.gallery__radio-inp:active+.gallery__radio-box {
  border: 1px solid var(--purple);
  color: var(--purple);
}

.gallery__list-img {
  gap: var(--gap-50);
}

/* catalog */

.catalog {
  margin-bottom: 80px;
}

.catalog__descr {
  margin-bottom: 36px;
  max-width: 68%;
}

.catalog__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--gap-50);
}

.catalog__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  --catalog-offsets: 2;
  gap: var(--gap-50);
}

.catalog__item-content {
  max-width: 800px;
  min-height: 232px;
}

.catalog__date {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  color: var(--lighter-gray);
}

/* события */

.events {
  margin-bottom: 86px;
}

.events__title {
  margin-bottom: 15px;
}

.events__list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: var(--gap-50);
  --events-offsets: 1;
  min-height: 700px;
}

.events__item {
  width: calc((100% - (var(--gap-50) * var(--events-offsets))) / (var(--events-offsets) + 1));
}

.events__preview {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid var(--darker-white);
}

.events__img {
  margin-bottom: 17px;
}

.events__item-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 50px;
  margin-bottom: auto;
  border-top: none;
}

.events__item__address {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  color: var(--lighter-gray);
}

.events__item__time {
  display: inline-block;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 12px;
  color: var(--lighter-gray);
}

.events__item__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--dark-gray);
}

.events__item__descr {
  margin-bottom: auto;
}

.events__item__link {
  margin-left: 41px;
  margin-bottom: 33px;
  margin-right: auto;
  padding: 5px 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--purple-accent);
  -webkit-text-decoration: underline var(--purple-accent);
          text-decoration: underline var(--purple-accent);
  text-underline-offset: 4px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.events__item__link:focus {
  background-color: var(--purple-accent);
  color: var(--white);
  -webkit-text-decoration: underline var(--white);
          text-decoration: underline var(--white);
}

.events__item__link:hover {
  color: var(--purple-focus);
  -webkit-text-decoration: underline var(--purple-focus);
          text-decoration: underline var(--purple-focus);
}

.events__item__link:active {
  color: var(--dark-gray);
  -webkit-text-decoration: underline var(--dark-gray);
          text-decoration: underline var(--dark-gray);
}

/* проекты */

.projects {
  padding-bottom: 77px;
}

.projects__title {
  margin-bottom: 20px;
}

.projects__sub-title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--dark-gray);
}

.projects__descr {
  margin-bottom: 32px;
  max-width: 67%;
  min-height: 256px;
}

.projects__list {
  gap: 34px;
}

.projects__item {
  padding: 27px;
  max-width: 329px;
  min-height: 122px;
  border: 1px solid #cacaca;
}

/* контакты */

.contacts {
  border-top: 1px solid var(--darker-white);
}

.contacts__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          padding: 39px 15px;
}

.contacts__address {
  max-width: 256px;
}

.contacts__feedback {
  max-width: 276px;
}

.contacts__txt {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--dark-gray);
}

.contacts__form {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--gap-20);
}

.contacts__input {
  padding: 10px 40px;
  height: 50px;
  border: 1px solid var(--dark-gray);
  border-radius: 100px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.contacts__input:focus {
  background-color: var(--drak-white);
}

.contacts__input:hover {
  background-color: var(--drak-white);
}

.contacts__btn {
  padding: 17px 35px;
  max-width: 334px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: var(--white);
  color: var(--purple-accent);
  border: 2px solid var(--purple-accent);
  border-radius: 100px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.contacts__btn-txt {
  display: inline-block;
}

.contacts__btn-mobile {
  display: none;
}

.contacts__btn-mobile:hover {
  border: none;
  color: var(--white);
}

.contacts__btn:hover {
  color: var(--white);
}

.contacts__btn:active {
  color: var(--white);
}

.contacts__list {
  gap: var(--gap-20);
}

.contacts__link svg {
  display: block;
  width: 38px;
  height: 38px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.contacts__link_whatsup svg {
  fill: var(--green);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.contacts__link_whatsup:focus svg {
  opacity: 0.5;
  fill: var(--green);
}

.contacts__link_whatsup:hover svg {
  opacity: 0.5;
  fill: var(--green);
}

.contacts__link_whatsup:active svg {
  fill: var(--green);
  border: 1px solid var(--purple-accent);
  border-radius: 50%;
}

.contacts__link_telegram svg {
  fill: var(--blue);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.contacts__link_telegram:focus svg {
  opacity: 0.5;
  fill: var(--blue);
}

.contacts__link_telegram:hover svg {
  opacity: 0.5;
  fill: var(--blue);
}

.contacts__link_telegram:active svg {
  fill: var(--blue);
  border: 1px solid var(--purple-accent);
  border-radius: 50%;
}

/* футер */

.footer {
  padding: 48px 0;
  background-color: var(--black);
}

.footer__logo {
  margin-right: auto;
}

.footer__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--gap-20);
}

.footer__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer__link svg {
  fill: var(--darker-white);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer__link:focus svg {
  fill: var(--white);
}

.footer__link:hover svg {
  fill: var(--white);
}

.footer__link:active svg {
  fill: var(--purple-accent);
}
